
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478081959053'); /* IE9*/
  src: url('iconfont.eot?t=1478081959053#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478081959053') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478081959053') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478081959053#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before { content: "\e61b"; }

.icon-arrowleft:before { content: "\e631"; }

.icon-shouji:before { content: "\e613"; }

.icon-shanchu:before { content: "\e602"; }

.icon-yonghufill:before { content: "\e787"; }

