@import "../../../util/sass/lib/util";

.create-box{
  .error-box{
    @include px2px(24);
    line-height:2;
    color:red;
    padding-left: px2Rem(20px);
  }
  .btn{
    margin-top:px2Rem(40px);
  }
}