@import "../../../util/sass/lib/util";

.create-box{
  .from-box{
    .lab,.cons{
      float:left;
      @include px2px(20);
      height:px2Rem(50px);
      line-height:px2Rem(50px);
    }
    .lab{
      width:40%;
    }
    .cons{
      width:60%;
    }
  }
}