$browser-default-fontSize :75px !default;//根据UI给出的设计稿设置默认值，这里用的是iphone6设计稿
$headerHeight:90px; //标题栏高度
$footerHeight:90px; //尾部高度
$themeColor:#E8363D;//主题色
$headTitle:#FE5455;//标题色
@function px2Rem($px){
  @return ($px / $browser-default-fontSize) * 1rem;
}

@mixin px2px($px){
  [data-dpr="1"] & {
    font-size: ($px / 2) * 1px;
  }
  [data-dpr="2"] & {
    font-size: $px * 1px;
  }
  [data-dpr="3"] & {
    font-size: ($px / 2 * 3) * 1px;
  }
}

@mixin marginLeft($width:100){
  margin-left: -$width/2;
}
@mixin marginTop($height:100){
  margin-top: -$height/2;
}
@mixin marginCenter{
  margin-left: auto;
  margin-right: auto;
}
@mixin opacity($opacity:50){
  opacity : $opacity / 100;
  filter:alpha(opacity=$opacity);
}
